codeNotes
Chapter 4 - using modules/be_the_compiler_decls
Chapter 4 - using modules/floatToAnInt
Chapter 4 - using modules/functionDeclarations
Chapter 5 - structs and unions/animal_multi_structs
Chapter 5 - structs and unions/animal_print_with_struct
Chapter 5 - structs and unions/animal_print_with_struct_in_struct
Chapter 5 - structs and unions/animal_typedefs
Chapter 5 - structs and unions/lock_puzzle
Chapter 5 - structs and unions/pool_puzzle
Chapter 5 - structs and unions/struct1
Chapter 5 - structs and unions/update_animal_fails
Chapter 5 - structs and unions/update_animal_pointer
Chapter 5 - structs and unions/update_animal_works
Chapter 5 - structs and unions/test_copy_struct
Chapter 5 - structs and unions/froggy
Chapter 5 - structs and unions/struct_is_not_an_array
hfc_chap01_20110124.pdf
hfc_chap03_20110531.pdf
hfc_chap04_20110801.pdf
hfc_chap2_20110404.pdf
Chapter 5 - structs and unions/happy_birthday_turtle_broke
Chapter 5 - structs and unions/happy_birthday_turtle_works
Chapter 2 - memory and pointers/safe_gets
Chapter 2 - memory and pointers/testwords
Chapter 5 - structs and unions/mixtest
Chapter 5 - structs and unions/enumtest
Chapter 5 - structs and unions/bitfield_test
Chapter 6 - dynamic memory/svgtest
Chapter 6 - dynamic memory/linked_list_test
Chapter 6 - dynamic memory/linked_list_test_broken
Chapter 5 - structs and unions/check_struct_field_locations
Chapter 6 - dynamic memory/expert
Chapter 6 - dynamic memory/island_fixed
Chapter 6 - dynamic memory/island
Chapter 6 - dynamic memory/island_broke
Chapter 6 - dynamic memory/tour
Chapter 6 - dynamic memory/insert_island
Chapter 6 - dynamic memory/repeated_name
Chapter 6 - dynamic memory/expert_leak
notes.aux
notes.bbl
notes.blg
notes.dvi
notes.log
notes.out
notes.rtf
notes.toc
texput.log
writeup.aux
writeup.bbl
writeup.blg
writeup.dvi
writeup.log
writeup.man
writeup.out
writeup.pdf
writeup.png
writeup.tex
writeup.toc
prog
Chapter 8 - Hot swappable code/hellothereworld.dylib
Chapter 8 - Hot swappable code/progdylib
Chapter 8 - Hot swappable code/progso
Chapter 9 - Process mojo/child
Chapter 7 - Turn your functions up to 11/array_of_fns
Chapter 7 - Turn your functions up to 11/date_response_array
Chapter 7 - Turn your functions up to 11/date_response_basic
Chapter 7 - Turn your functions up to 11/varargs
seize_the_hour.aux
seize_the_hour.bbl
seize_the_hour.blg
seize_the_hour.dvi
seize_the_hour.log
seize_the_hour.out
seize_the_hour.pdf
seize_the_hour.rtf
seize_the_hour.tex
seize_the_hour.toc
#notes.org#
Chapter 8 - Hot swappable code/testing/tester
Chapter 8 - Hot swappable code/testing/tester-lib
Chapter 8 - Hot swappable code/testing/tester-sepos
Chapter 8 - Hot swappable code/testing/guy_code
Chapter 8 - Hot swappable code/calories/elliptical
Chapter 8 - Hot swappable code/calories/myinclude/hfcal.h
Chapter 8 - Hot swappable code/calories/treadmill
Chapter 9 - Process mojo/testparent0
Chapter 9 - Process mojo/testparent1
testdata-bermuda.csv
Chapter 9 - Process mojo/testchild2
Chapter 9 - Process mojo/testparent2
notes.pdf
notes.tex
Chapter 9 - Process mojo/hackable
Chapter 9 - Process mojo/testsystem0
Chapter 9 - Process mojo/reports.log
Chapter 9 - Process mojo/coffee
Chapter 9 - Process mojo/starbuzz_order
Chapter 9 - Process mojo/fork_test0
Chapter 9 - Process mojo/repeater
Chapter 9 - Process mojo/newshound
Chapter 9 - Process mojo/bad_code
Chapter 9 - Process mojo/newshound_with_wait
Chapter 9 - Process mojo/newshound_reading_urls
Chapter 9 - Process mojo/newshound_to_file
Chapter 9 - Process mojo/stories.txt
Chapter 9 - Process mojo/newshound_to_file_no_wait
Chapter 9 - Process mojo/annoy
Chapter 9 - Process mojo/sigtest
Chapter 9 - Process mojo/sigtest.err
Chapter 9 - Process mojo/sigtest.txt
Chapter 9 - Process mojo/timers
Chapter 9 - Process mojo/test.txt
Chapter 9 - Process mojo/timers
Chapter 9 - Process mojo/program_to_die
Chapter 11 - Talking to the network/client
Chapter 11 - Talking to the network/server
Chapter 11 - Talking to the network/server.err
Chapter 11 - Talking to the network/server.out
Chapter 3 - small tools/testing/output-page34.json
Chapter 3 - small tools/testing/output.json
Chapter 3 - small tools/testing/temp.csv
Chapter 3 - small tools/testing/testdata15.csv
Chapter 3 - small tools/testing/testdata15plus.csv
Chapter 3 - small tools/testing/testdatabaddata.csv
Chapter 8 - Hot swappable code/calories/myinclude
Chapter 11 - Talking to the network/simple_client
Chapter 11 - Talking to the network/simple_server
Chapter 3 - small tools/testing/liner
Chapter 11 - Talking to the network/ikkp_server
Chapter 11 - Talking to the network/ikkp_client
Chapter 11 - Talking to the network/ikkp_server.err
Chapter 11 - Talking to the network/ikkp_server.out
Chapter 11 - Talking to the network/crossword.svg
Chapter 11 - Talking to the network/ikkp_client_for_book
Chapter 11 - Talking to the network/ikkp_server_no_reuse
Chapter 11 - Talking to the network/ikkp.log
Chapter 11 - Talking to the network/simple_http_client
Chapter 11 - Talking to the network/simple_http_client_with_dns
crossword.png
Chapter 11 - Talking to the network/sections/change0.txt
Chapter 11 - Talking to the network/sections/ikkp_server_repeats
Chapter 11 - Talking to the network/sections/tmp.txt
Chapter 11 - Talking to the network/sections/ikkp_server_reuse
Chapter 11 - Talking to the network/sections/advice_server
Chapter 11 - Talking to the network/sections/change1.txt
Chapter 11 - Talking to the network/sections/final_server
TAGS
views/home.html
Chapter 11 - Talking to the network/ikkp_server_for_book
Chapter 11 - Talking to the network/ikkp_server_for_book_with_fork
Chapter 11 - Talking to the network/wiki_client_with_dns
Chapter 11 - Talking to the network/wiki_client
cache.manifest
Chapter 12 - Threads/ikkp_server_for_book_with_threads
Chapter 12 - Threads/concurrency_problem
Chapter 12 - Threads/concurrency_fix
Chapter 12 - Threads/argument
Chapter 12 - Threads/beer
Chapter 12 - Threads/beer_fixed
allegro/blasteroids/blasteroids
Chapter 2 - memory and pointers/handsomeness
Chapter 2 - memory and pointers/whereitlives
Chapter 2 - memory and pointers/food
Chapter 2 - memory and pointers/mating2
blasteroids_screen_allegro_lab.png
blasteroids.tiff
Screen Shot 2012-02-12 at 10.26.12 AM.png
Screen Shot 2012-02-12 at 10.26.13 AM.png
Screen Shot 2012-02-12 at 10.33.49 AM.png
Screen Shot 2012-02-12 at 10.33.54 AM.png
Screen Shot 2012-02-12 at 10.33.55 AM.png
Screen Shot 2012-02-12 at 10.33.58 AM.png
Screen Shot 2012-02-12 at 10.34.35 AM.png
opencv/capture-0.jpg
opencv/capture-1.jpg
opencv/capture-2.jpg
opencv/capture-3.jpg
opencv/capture-4.jpg
opencv/capture-5.jpg
opencv/capture-6.jpg
opencv/capture-7.jpg
opencv/capture-8.jpg
opencv/capture-9.jpg
opencv/capture-10.jpg
opencv/capture-11.jpg
opencv/capture-12.jpg
opencv/capture-13.jpg
opencv/capture-14.jpg
opencv/capture-15.jpg
opencv/capture-16.jpg
opencv/capture-17.jpg
opencv/capture-18.jpg
opencv/capture-19.jpg
opencv/capture-20.jpg
opencv/capture-21.jpg
opencv/capture-22.jpg
opencv/capture-23.jpg
opencv/mysamples/thief
Chapter 2 - memory and pointers/codeForTestDrivePage13
Chapter 2 - memory and pointers/comma
Chapter 2 - memory and pointers/new_monte
Chapter 2 - memory and pointers/stackotrouble
#*.*#
backup*/*_txt
backup*/diagram.*
build
\.*
*~
randpass
/Screen Shot 2013-06-13 at 3.21.32 PM.png
/Screen Shot 2013-06-13 at 4.34.58 PM.png
/diagram.png
/ostrails2-3-enter-address.png
/ostrails2-3-login-form.png
/compile.txt
/Using integration testing to test the security process automatically.pdf
/Using integration testing to test the security process automatically.tex
Using_integration_testing_to_test_the_security_process_automatically
/Many_to_Many_Relationships/Many_to_Many_Relationships.html
/Many_to_Many_Relationships/Many_to_Many_Relationships.xml
/Many_to_Many_Relationships/text.xml
three.js/*
/1.java
/1.org
/1.txt
/1/1.html
/1/1.xml
/1/text.xml
/1_txt/1_txt.html
/1_txt/1_txt.xml
/1_txt/images/ostrails2-1.txt-0.png
/1_txt/text.xml
/Screen Shot 2013-10-05 at 9.41.44 AM.png
/Screen Shot 2013-10-09 at 8.49.16 PM.png
/Screen Shot 2013-10-10 at 1.03.47 PM.png
/named_scopes/named_scopes.html
/named_scopes/named_scopes.xml
/named_scopes/text.xml
/onlisp.txt
/otsrails2-5-1.png
/otsrails2-5-2.png
/chapter2words/chapter2words.html
/chapter2words/chapter2words.xml
/chapter2words/text.xml
/common/CodeRunnerScreen.png
/common/LAB.dtd
/common/LAB_html.xsl
/common/LAB_to_html.xsl
/common/Lab.css
/common/Lab.js
/common/PROJECT.dtd
/common/PROJECT_to_html.xsl
/common/QUIZ.dtd
/common/QUIZ_to_html.xsl
/common/SYLLABUS.dtd
/common/SYLLABUS_to_html.xsl
/common/TUTORIAL.dtd
/common/TUTORIAL_html.xsl
/common/TestLesson.xml
/common/UsingCodeRunner.html
/common/authorTranslate.php
/common/coderunner.png
/common/eclipse.png
/common/incl_lessonformat.lab
/common/incl_pedagogy.lab
/common/index.xsl
/common/mode.png
/common/mode.tiff
/common/mysql-unix.png
/common/mysql-unix.tiff
/common/visualStudio.png
/chapter2words/images/ostrails2-Chapter_2_--_Going_Deeper-0.png
/chapter2words/images/ostrails2-Chapter_2_--_Going_Deeper-1.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-0.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-1.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-2.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-3.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-4.png
/1/images/ostrails2-1-0.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-10.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-11.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-12.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-13.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-5.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-6.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-7.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-8.png
/chapter2words/images/ostrails2-Chapter_2_-_Being_Android-9.png
/diagram.txt
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-0.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-1.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-10.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-11.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-12.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-13.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-14.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-15.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-16.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-17.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-18.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-19.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-2.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-20.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-21.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-22.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-23.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-3.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-4.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-5.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-6.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-7.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-8.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-9.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-24.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-25.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-26.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-27.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-28.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-29.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-30.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-31.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-32.png
/named_scopes/images/ostrails2-Followers_and_Named_Scopes-33.png
/ideasForChapter3/ideasForChapter3.html
/ideasForChapter3/ideasForChapter3.xml
/ideasForChapter3/images/ostrails2-Connecting_activities_together-0.png
/ideasForChapter3/images/ostrails2-Connecting_activities_together-1.png
/ideasForChapter3/images/ostrails2-Connecting_activities_together-2.png
/ideasForChapter3/text.xml
/testbuild/PentagonTest.class
/Integration_testing/Integration_testing.html
/Integration_testing/Integration_testing.xml
/Integration_testing/images/ostrails2-Integration_Testing-0.png
/Integration_testing/images/ostrails2-Integration_Testing-1.png
/Integration_testing/images/ostrails2-Integration_Testing-10.png
/Integration_testing/images/ostrails2-Integration_Testing-11.png
/Integration_testing/images/ostrails2-Integration_Testing-12.png
/Integration_testing/images/ostrails2-Integration_Testing-13.png
/Integration_testing/images/ostrails2-Integration_Testing-14.png
/Integration_testing/images/ostrails2-Integration_Testing-15.png
/Integration_testing/images/ostrails2-Integration_Testing-16.png
/Integration_testing/images/ostrails2-Integration_Testing-17.png
/Integration_testing/images/ostrails2-Integration_Testing-18.png
/Integration_testing/images/ostrails2-Integration_Testing-19.png
/Integration_testing/images/ostrails2-Integration_Testing-2.png
/Integration_testing/images/ostrails2-Integration_Testing-20.png
/Integration_testing/images/ostrails2-Integration_Testing-21.png
/Integration_testing/images/ostrails2-Integration_Testing-3.png
/Integration_testing/images/ostrails2-Integration_Testing-4.png
/Integration_testing/images/ostrails2-Integration_Testing-5.png
/Integration_testing/images/ostrails2-Integration_Testing-6.png
/Integration_testing/images/ostrails2-Integration_Testing-7.png
/Integration_testing/images/ostrails2-Integration_Testing-8.png
/Integration_testing/images/ostrails2-Integration_Testing-9.png
/Integration_testing/text.xml
/Screen Shot 2014-04-09 at 1.17.37 PM.png
/Screen Shot 2014-04-09 at 1.25.55 PM.png
/Using_forms_authentication/Using_forms_authentication.html
/Using_forms_authentication/Using_forms_authentication.xml
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-0.png
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-1.png
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-10.png
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-11.png
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-12.png
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-13.png
/Using_forms_authentication/images/ostrails2-Using_forms_authentication-14.png
/burp2.csv
/content.org
/goals.org
/notes.org
/notesForLab8.org
/ost.log
/ost.txt
/output.txt
/receipts.pdf
/receiptsDawn.pdf
/sessionlog.txt
/tasks.org
/Rails2.pdf
/representations/representations.lab
/representations.zip
/startup.html
/10-0.png
/10-1.png
/10-10.png
/10-2.png
/10-3.png
/10-4.png
/10-5.png
/10-6.png
/10-7.png
/10-8.png
/10-9.png
/10.eps
/anInternalStartupCulture.rtf
/mindmaps/2014-06-05 11.49.58.png
/mindmaps/2014-06-05 11.50.06.jpg
/mindmaps/2014-06-05 13.21.50.jpg
/mindmaps/2014-06-05 13.22.03.jpg
/mindmaps/pace_layering.png
/paceLayering.org
/newWhitePaper.rtf
/notesAboutChapter5/notesAboutChapter5.html
/notesAboutChapter5/notesAboutChapter5.xml
/notesAboutChapter5/text.xml
/thoughtsAboutChapter6/images/ostrails2-thoughtsAboutChapter6-0.png
/thoughtsAboutChapter6/images/ostrails2-thoughtsAboutChapter6-1.png
/thoughtsAboutChapter6/images/ostrails2-thoughtsAboutChapter6-2.png
/thoughtsAboutChapter6/text.xml
/thoughtsAboutChapter6/thoughtsAboutChapter6.html
/thoughtsAboutChapter6/thoughtsAboutChapter6.xml
/Screen Shot 2014-07-10 at 2.55.40 PM.png
/chapters/chapter1/newShotsAndNotes/newStuffForChapter1_wiki.idml
/chapters/chapter1/newShotsAndNotes/notes_wiki.idml
/chapters/chapter7/burp2.csv
/chapters/chapter7/newPage8And9/images/ostrails2-newPage8And9-0.png
/chapters/chapter7/newPage8And9/newPage8And9.html
/chapters/chapter7/newPage8And9/newPage8And9.xml
/chapters/chapter7/newPage8And9/text.xml
/chapters/chapter7/page24Onward/page24Onward.html
/chapters/chapter7/page24Onward/page24Onward.xml
/chapters/chapter7/page24Onward/text.xml
/chapters/chapter7/page4/page4.html
/chapters/chapter7/page4/page4.xml
/chapters/chapter7/page4/text.xml
/chapters/chapter7/pages2And3/pages2And3.html
/chapters/chapter7/pages2And3/pages2And3.xml
/chapters/chapter7/pages2And3/text.xml
/chapters/chapter7/thoughtsOnChapter7/text.xml
/chapters/chapter7/thoughtsOnChapter7/thoughtsOnChapter7.html
/chapters/chapter7/thoughtsOnChapter7/thoughtsOnChapter7.xml
/goingToBeCloudy.png
/gradle/output.txt
chapters/chapter7/page24Onward
/DrivingLicenceRenewal.pdf
/DrivingLicenceRenewalPart2.pdf
/Screen Shot 2014-12-28 at 16.16.28.png
/Screen Shot 2015-01-05 at 16.43.51.png
android-examples/
blog.org
chapters/chapter8/
chapters/chapter9-10/1.svg
chapters/chapter9-10/chapter10/
chapters/chapter9-10/chapter9_10/
chapters/chapter9-10/interface.svg
chapters/chapter9-10/interface.uml
chapters/chapter9-10/stuff.txt
gradle/stepfiles/workout-1-build.gradle
phone.png
/chapters/chapter7/notesAboutCode.org
/chapters/chapter7/notesAboutCode/notesAboutCode.html
/chapters/chapter7/notesAboutCode/notesAboutCode.xml
/chapters/chapter7/notesAboutCode/text.xml
/chapters/chapter11/supportLibraries/supportLibraries.html
/chapters/chapter11/supportLibraries/text.xml
/chapters/chapter9-10/fred.html
/dependencies.png
/module-settings.png
/chapters/chapter11/chapter11/chapter11.html
/chapters/chapter11/chapter11/chapter11.xml
/chapters/chapter11/chapter11/text.xml
/chapters/chapter11/devNotes/devNotes.html
/chapters/chapter11/devNotes/devNotes.xml
/chapters/chapter11/devNotes/text.xml
/chapters/chapter11/extraStuff/extraStuff.html
/chapters/chapter11/extraStuff/extraStuff.xml
/chapters/chapter11/extraStuff/text.xml
/chapters/chapter11/notes/notes.html
/chapters/chapter11/notes/notes.xml
/chapters/chapter11/notes/text.xml
/chapters/chapter11/supportLibraries/supportLibraries.xml
/Screen Shot 2015-02-22 at 10.08.35.png
/Screen Shot 2015-02-25 at 19.29.16.png
/Screen Shot 2015-02-27 at 17.30.11.png
/Screen Shot 2015-02-27 at 17.57.03.png
/Bill.java
/Fred.java
/chapters/plantuml.txt
/chapters/services/images/ostrails2-Services-0.png-full.png
/chapters/services/services.html
/chapters/services/services.xml
/chapters/services/text.xml
/chapters/servicesNotes/images/ostrails2-Services-0.png
/chapters/servicesNotes/servicesNotes.html
/chapters/servicesNotes/servicesNotes.xml
/chapters/servicesNotes/text.xml
/chapters/servicesChapter/images/ostrails2-Services-0.png
/chapters/servicesChapter/servicesChapter.html
/chapters/servicesChapter/servicesChapter.xml
/chapters/servicesChapter/text.xml
/chapters/appendices/extras/extras.html
/chapters/appendices/extras/extras.xml
/chapters/appendices/extras/text.xml
/chapters/page1sForActionBarAndNavigationDrawer/page1For12And13.html
/chapters/page1sForActionBarAndNavigationDrawer/page1For12And13.xml
/chapters/page1sForActionBarAndNavigationDrawer/text.xml
HeadFirstAndroidSite
notesAboutChapter4/
notesAboutChapter5TR.org
notesOnChapter4Code.html
notesOnChapter4Code.org
/notesOnChapter6.html
/notesForChapter9.html
/notesForChapter10.html
/notesForChapter11.html
/notesForChapter12.html
HeadFirstAndroid.wiki/
finalNotes/notesForChapter10.html
finalNotes/notesForChapter11.html
finalNotes/notesForChapter12.html
finalNotes/notesForChapter9.html
finalNotes/notesOnChapter6.html
/Screen Shot 2015-04-18 at 23.33.28.png
/projects/agile_sketchpad/01/#01-outline.org#
/projects/agile_sketchpad/01/pageturn/flipback_fast.mp4
/projects/agile_sketchpad/01/pageturn/out_slow.mp4
/projects/agile_sketchpad/01/pageturn/pageturn00.png
/projects/agile_sketchpad/01/pageturn/pageturn01.png
/projects/agile_sketchpad/01/pageturn/pageturn02.png
/projects/agile_sketchpad/01/pageturn/pageturn03.png
/projects/agile_sketchpad/01/pageturn/pageturn04.png
/projects/agile_sketchpad/01/pageturn/pageturn05.png
/projects/agile_sketchpad/01/pageturn/pageturn06.png
/projects/agile_sketchpad/01/pageturn/pageturn07.png
/projects/agile_sketchpad/01/pageturn/pageturn08.png
/projects/agile_sketchpad/01/pageturn/pageturn09.png
/projects/agile_sketchpad/01/pageturn/pageturn10.png
/projects/agile_sketchpad/01/pageturn/pageturn11.png
/projects/agile_sketchpad/01/pageturn/pageturn12.png
/projects/agile_sketchpad/01/pageturn/pageturn13.png
/projects/agile_sketchpad/01/pageturn/pageturn14.png
/projects/agile_sketchpad/01/pageturn/pageturn15.png
/projects/agile_sketchpad/01/pageturn/pageturn16.png
/projects/agile_sketchpad/01/pageturn/pageturn17.png
/projects/agile_sketchpad/01/pageturn/pageturn18.png
/projects/agile_sketchpad/01/pageturn/pageturn19.png
/projects/agile_sketchpad/01/pageturn/pageturn20.png
/projects/agile_sketchpad/01/pageturn/pageturn21.png
/projects/agile_sketchpad/01/pageturn/pageturn22.png
/projects/agile_sketchpad/01/pageturn/pageturn23.png
/projects/agile_sketchpad/01/pageturn/pageturn24.png
/projects/agile_sketchpad/01/pageturn/pageturn25.png
/projects/agile_sketchpad/01/pageturn/pageturn26.png
/projects/agile_sketchpad/01/01-notesForVideo.html
/code/povray/cube.png
/code/povray/cube*.png
pic*.png
/pic01500.svg
/projects/agile_sketchpad/01/audio/fred.aup
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000000b.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000069.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000071.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000007f.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000008a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00000bc.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000101.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000010b.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000171.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000017c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000204.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000025d.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000268.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00002a9.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00002e2.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000031b.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000034c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000039b.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00003f0.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000502.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00005b6.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000060a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000611.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000064e.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00006d2.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00006d7.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000750.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000786.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000795.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00007fb.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000081b.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000834.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000085c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000873.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000882.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000089c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00008aa.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000918.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000939.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e000095f.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000995.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00009a1.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e00009d8.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000a0a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000a22.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000a5c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000a64.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000b55.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000b67.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000b69.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000b6c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000b78.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c09.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c0b.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c22.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c4e.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c69.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c7a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000c9a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000ce9.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000d17.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000dd2.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000dd5.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000dd7.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000de0.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000df2.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000e0a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000e0e.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000e1f.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000e7a.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000e95.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000eb5.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000ed3.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000eed.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000ef6.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000f15.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000f72.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000f7c.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000f7d.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000f81.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000fb1.au
/projects/agile_sketchpad/01/audio/fred_data/e00/d00/e0000fb2.au
/projects/agile_sketchpad/01/audio/video 1_16.aup
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e000040f.au
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e000062d.au
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e00007cb.au
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e00007de.au
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e0000bdf.au
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e0000c93.au
/projects/agile_sketchpad/01/audio/video 1_16_data/e00/d00/e0000fb7.au
/projects/agile_sketchpad/01/zoomy/output000.png
/projects/agile_sketchpad/01/zoomy/output001.png
/projects/agile_sketchpad/01/zoomy/output002.png
/projects/agile_sketchpad/01/zoomy/output003.png
/projects/agile_sketchpad/01/zoomy/output004.png
/projects/agile_sketchpad/01/zoomy/output005.png
/projects/agile_sketchpad/01/zoomy/output006.png
/projects/agile_sketchpad/01/zoomy/output007.png
/projects/agile_sketchpad/01/zoomy/output008.png
/projects/agile_sketchpad/01/zoomy/output009.png
/projects/agile_sketchpad/01/zoomy/output010.png
/projects/agile_sketchpad/01/zoomy/output011.png
/projects/agile_sketchpad/01/zoomy/output012.png
/projects/agile_sketchpad/01/zoomy/output013.png
/projects/agile_sketchpad/01/zoomy/output014.png
/projects/agile_sketchpad/01/zoomy/output015.png
/projects/agile_sketchpad/01/zoomy/output016.png
/projects/agile_sketchpad/01/zoomy/output017.png
/projects/agile_sketchpad/01/zoomy/output018.png
/projects/agile_sketchpad/01/zoomy/output019.png
/projects/agile_sketchpad/01/zoomy/output020.png
/projects/agile_sketchpad/01/zoomy/output021.png
/projects/agile_sketchpad/01/zoomy/output022.png
/projects/agile_sketchpad/01/zoomy/output023.png
/projects/agile_sketchpad/01/zoomy/output024.png
/projects/agile_sketchpad/01/zoomy/output025.png
/projects/agile_sketchpad/01/agile_sketchpad_1.wav
/projects/agile_sketchpad/01/agile_sketchpad_1-first-try.sketcher
/projects/agile_sketchpad/01/ValuesPracticesAndPrinciples/pic00000.svg
/projects/agile_sketchpad/01/ValuesPracticesAndPrinciples/pic00001.svg
/projects/agile_sketchpad/01/short.wav
/projects/agile_sketchpad/01/1.sketcher
*.mp4
*.mov
*.mpg
*.avi
output*.png
pageturn*.png
/projects/agile_sketchpad/01a/audio/Exercise.ac3
/projects/agile_sketchpad/01a/audio/Main.ac3
/projects/agile_sketchpad/01a/audio/Silence.ac3
/projects/agile_sketchpad/01/run.txt
projects/agile_sketchpad/02/Main/
projects/agile_sketchpad/02/audio/
projects/agile_sketchpad/02/video/
/projects/agile_sketchpad/03/notes.html
/projects/agile_sketchpad/04/notes.html
/projects/agile_sketchpad/05/notes.html
